.app-container{
    width: 100%;
}

app-hashtag-form{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

app-hashtag-list{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
